body{
    padding: 0;
    margin:0;
    line-height: 1.5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
/*global*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
ul{
    margin:0;
    padding: 0;
}
header{
    background: rgb(205, 30, 30);
    padding-top: 30px;
    min-height: 70px;
    max-height: 100px;
    border-bottom: rgb(187, 49, 49) 3px solid;
    
    
}
header a{
    color: #f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float:left;
    display: inline;    
    padding: 0px 20px 0px 20px ;
}
header a:hover{
    color: black;
    font-weight: bold;
}
header #logo{
    padding-top:0;
    float: left;
}
header #logo h1{
    margin:0 ;
    color: rgb(0, 0, 0);
}
header nav{
    float: right;
    margin-right:0;
    padding-top: 10px;
}

/*showcase*/

#showcase{
    width: 100%;
    height: 100%;
    min-height: 400px;
    background: url("showcase3jpg.jpg") no-repeat 0;
    background-size: cover,contain;
    border-bottom: black 3px solid;
    color: #f4f4f4;
}
#showcase h1{
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color:rgb(225, 211, 211);
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase  p{
    font-size:20px ;
    letter-spacing: 2px;
}

.newsletter{
    padding: 15px;
    color: aliceblue;
    background-color:rgb(10, 50, 87);
}
.newsletter h1{
    float: left
}
.newsletter form{
    float: right;
}
.newsletter input[type="email"]{
    height: 33px;
    width: 250px;
    padding: 0
    border:0;
}
.newsletter input[type="button"]
{
    height: 38px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    background:#ee1512;
    color:white;
}

.box{
    float: left;
    width: 30%;
    padding-right: 30px;
    text-align: center;
}
footer{
    background-color:rgb(205, 30, 30);
    color: #f4f4f4;
    text-align: center;
    letter-spacing: 2px;
}
